<h1>Must See Movies Home Page</h1>
<p> This is the best website ever </p>
<p> Click on the links below to navigate across the site </p>
<a href="/directors/">Directors</a>
<a href="/actors/">Actors</a>
<a href="/movies/">Movies</a>
