<a href="/">Home</a>
<a href="/directors/">Directors</a>
<a href="/actors/">Actors</a>
<a href="/movies/">Movies</a>

<h1>Add a New Movie</h1>

<form action="/movies/add">
  <div>
    <label for="movie_title">Title:</label>
    <input id="movie_title" type="string" name="add_title">
  </div>
  <div>
    <label for="movie_year">Year:</label>
    <input id="movie_year" type="string" name="add_year">
  </div>
  <div>
    <label for="movie_duration">Duration:</label>
    <input id="movie_duration" type="string" name="add_duration">
  </div>
  <div>
    <label for="movie_desc">Description:</label>
    <textarea id="movie_desc" name="add_description" rows=5 cols=30></textarea>
  </div>
  <div>
    <label for="movie_image">Image URL:</label>
    <input id="movie_image" type="text" name="add_image_url">
  </div>
  <div>
    <button>Add Movie Information</button>
  </div>
</form>

<a href="/movies">Back to Movies</a>
